<?xml version="1.0"?>
  <model>

    <name>SYV_office_desks</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
      <name>Robin Waymouth</name>
      <email>robin.waymouth@bshg.com</email>
    </author>

    <description>
     furniture (desks, cabinets) in central office area
    </description>

  </model>
