<?xml version="1.0" ?>
<model>
    <name>test_room_object_obstacle_board</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Sebastian Haug (CR/AER)</name>
        <email>sebastian.haug@de.bosch.com</email>
    </author>
    <description></description>
</model>
